@import "tailwindcss";

:root {
  --foreground: #ced4da;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #212529;
  --color-card: #ffffff;
  --color-card-foreground: #171717;
  --color-primary: #171717;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #6b7280;
  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
}

/* Custom utilities */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  /* -webkit-box-orient: vertical; */
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
